* {
    box-sizing: border-box;
    margin: 10px auto;
    display: block;
    text-decoration: none;
}

body {
    background-color: #ddd;
    text-align: center;
    font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 15px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 30px;
    color: #008080;
}

h2 {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #7BBB37;
}

ul {
    max-width: 850px;
    padding: 0 30px;
}

hr {
    margin-bottom: 20px;
}

button {
    transition-duration: .5s;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    padding: 8px 15px;
    width: 25%;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#create {
    color: #ddd;
    background-color: #6EB226;
}

